
# First, ignore everything
*
# Now, whitelist anything that's a directory
!*/
# And all the file types you're interested in.
!*.CBL
!*.sh
!*.SH
!*.yml
!*/test/resources/*
!.gitattributes
TESTPRG.CBL
intro
